.App-logo {
  height: 30vmin;
  pointer-events: none;
  /* margin:0;
  top: 0; */
}

.App-header {
  display: flex;
  border-bottom: red 2px solid;

}

.header {
  color: red;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.App-body {
  display: flex;
  justify-content: left;
  height: 60vh;
}

.App-footer {
  border-top: red 2px solid;
  justify-content: center;
  text-align: center;
  height: 10vh;
}
