.App {
  height: auto;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  border-bottom: red 2px solid;
}

.header {
  color: red;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  justify-content: left;
  height: 40vh;
}

.App-footer {
  border-top: red 2px solid;
  justify-content: center;
  text-align: center;
}
